.list-component {
    margin-top: 20px; /* Adjust as needed */
  }
  
  .list-component table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .list-component th,
  .list-component td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }